html{
    background: url(img/bg1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header-flex{
    display: flex;
    background: rgba(0, 0, 0, .25);
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin: 15px 75px;
    color: #FFFFFF;
}
.logo:hover{
    color: #01813F
}
.icon1{
    display: inline-block;
    width: 21px;
    height: 24px;
    background-size: cover;
    background-image: url("img/Vector-2.svg");
    margin-right: 27px;
}
.icon2{
    display: inline-block;
    width: 23px;
    height: 23px;
    background-size: cover;
    background-image: url("img/Vector-1.svg");
    margin-right: 27px;
}
.icon3{
    display: inline-block;
    width: 23px;
    height: 23.25px;
    background-size: cover;
    background-image: url("img/Vector.svg");
    margin-right: 27px;
}
.icon1:hover{
    filter: brightness(0) saturate(100%) invert(29%) sepia(63%) saturate(2000%) hue-rotate(130deg) brightness(91%) contrast(103%);
}
.icon2:hover{
    filter: brightness(0) saturate(100%) invert(29%) sepia(63%) saturate(2000%) hue-rotate(130deg) brightness(91%) contrast(103%);
}
.icon3:hover{
    filter: brightness(0) saturate(100%) invert(29%) sepia(63%) saturate(2000%) hue-rotate(130deg) brightness(91%) contrast(103%);
}
.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header2 hr{
    color: #FFFFFF;
    height: 19px;
    opacity: 0.1;
    margin-right: 27px;
}
.header2 p,a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #FFFFFF;
}
.header2 p{
    margin-right: 79px;
}
.header2 a:hover{
    color: #01813F
}
.input-form{
    display: block;
    max-width: 444px;
    max-height: 584px;
    background: #FFFFFF;
    margin: 54px auto;
}
.top-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
    padding-top: 30px;
}
.signup{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.signup:before{
    display: inline-block;
    content: "";
    position: relative;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    left: -60px;
    top: 3px;
}
.login{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px auto;
    gap: 16px;
    width: 160px;
    height: 48px;
}
.facebook-button{
    display: flex;
    width: 160px;
    height: 24px;
    background: #305DB8;
    padding: 12px 16px;
    border-radius: 5px;
}
.facebook-button:hover{
    background: #022263;
}
.f-image{
    max-width: 12.46px;
    max-height: 24px;
    padding-right: 19px;
}
.facebook-button hr{
    position: relative;
    top: -10px;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    margin-right: 19px;
}
.facebook-button a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    top: 3px;
}
.google-button{
    display: flex;
    width: 160px;
    height: 24px;
    background: #DF4A32;
    padding: 12px 16px;
    border-radius: 5px;
}
.google-button:hover{
    background-color: #AB1F09;
}
.g-image{
    max-width: 30px;
    max-height: 19px;
    padding-right: 19px;
}
.google-button hr{
    position: relative;
    top: -10px;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    margin-right: 15px;
}
.google-button a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    top: 3px;
}
.lines{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lines a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-top: 24px;
}
.line{
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    margin: 30px 10px 17px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.form1{
    width: 322px;
    padding: 6px;
}
.checkbox1{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
form a{
    text-decoration: none;
    color: #3CB878;
}
.create{
    width: 324px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 5px;
    margin-bottom: 20px;
}
.create:hover{
    background-color: #01813F;
}
.create a{
    color: #FFFFFF;
}
input{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    opacity: .33;
}
input:active, input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    z-index: 2;
    opacity: 1;
}
